{% extends 'admin-theme/base.html.twig' %}

{% block pre_head_inject %}
  
{% endblock %}

{% block head_inject %}
  
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <button id="simple-message" type="button" class="btn btn-primary">
                  Basic Message
                </button>
                <div></div>
                {{isAuth}}
                <div>
                  {%if cms %}
                  <pre>
                    {{ dump(cms) }}
                  </pre>
                  {% endif %}
                  <pre>
                    {{ dump(auth) }}
                  </pre>
                  <pre>
                    {{ dump(language) }}
                  </pre>
                  <pre>
                    {{ dump(user) }}
                  </pre>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
{% endblock %}

{% block pre_footer_inject %}

{% endblock %}

{% block footer_inject %}

{% endblock %}

{% block post_footer_inject %}
  <script>
    $(document).ready(function() {
      $("#simple-message").on("click", function (event) {
            BootstrapModalWrapperFactory.showMessage("Delfault Message to show to user");
        });

      var buttonsCount = 0;
BootstrapModalWrapperFactory.createModal({
    message: "Simple Message body",
    title: "Header Title",
    closable: false,
    closeByBackdrop: false,
    buttons: [
        {
            label: "Close",
            cssClass: "btn btn-secondary",
            action: function (button, buttonData, originalEvent) {
                return this.hide();
            }
        },
        {
            label: "Add Button",
            cssClass: "btn btn-primary",
            action: function (button, buttonData, originalEvent) {
                this.addButton({
                    id: "id-" + (++buttonsCount),
                    label: "New " + buttonsCount,
                    cssClass: "btn btn-secondary",
                    action: function (button, buttonData, originalEvent) {
                        BootstrapModalWrapperFactory.showMessage("nothing only to show attached event to button id [" + buttonData.id + "]");
                        return true;
                    }
                });
            }
        },
        {
            label: "Delete Button",
            cssClass: "btn btn-primary",
            action: function (button, buttonData, originalEvent) {
                this.removeButton("id-" + (buttonsCount--));
            }
        }
    ]
}).show();

    });
  </script>
{% endblock %}